.content {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cartContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.checkoutContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 1rem;
}

.orderComplete {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: 20px;
}

.orderComplete p {
  font-size: 3rem;
}

.orderComplete .address {
  font-size: 1.4rem;
  margin: 3rem;
}
.price {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.orderComplete hr {
  border: 0;
  clear: both;
  display: block;
  width: 40%;
  background-color: grey;
  height: 1px;
  margin: 10px;
}

.orderComplete .message {
  background-color: grey;
  color: white;
  font-size: 3rem;
  display: block;
  width: 500px;
  margin: auto;
  text-align: center;
}

.orderComplete button {
  padding: 10px;
  width: 200px;
  margin: 2rem;
  font-size: 2rem;
  height: 50px;
  line-height: 1;
}
