.content {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cartContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.title {
  font-size: 3rem;
  margin: 1rem;
}
.maxItemMsg {
  font-size: 10px;
}

.checkoutContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 1rem;
}

.orderComplete {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: 20px;
}

.orderComplete p {
  font-size: 3rem;
  margin: 3rem;
}

.orderComplete .address {
  font-size: 1.4rem;
  margin: 35px;
}
.price {
  margin-left: 7rem;
}

.orderComplete hr,
.cartContent hr {
  border: 0;
  clear: both;
  display: block;
  width: 60%;
  background-color: grey;
  height: 1px;
  margin: 10px;
}

.orderComplete .message {
  background-color: grey;
  color: white;
  font-size: 3rem;
  display: block;
  width: auto;
  margin: auto;
  text-align: center;
}

.orderComplete button {
  padding: 10px;
  width: 200px;
  margin: 2rem;
  font-size: 2rem;
  height: 50px;
  line-height: 1;
  cursor: pointer;
}

@media (max-width: 900px) {
  .cartContent {
    font-size: 1.6rem;
  }
  .sum {
    font-size: 1rem;
  }
}
