h2 {
  font-size: 2rem;
}

.cart-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 600px;
}
.summary {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.summary h2 {
  width: 250px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.actions {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.actions span {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.actions button {
  cursor: pointer;
  margin: 10px;
  font-size: 1.3rem;
  vertical-align: middle;
}

.actions span {
  vertical-align: middle;
}
