.items {
  margin: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 20px;
  column-gap: 20px;
}

@media (max-width: 768px) {
  .items {
    display: flex;
    flex-direction: column;
  }
  .content {
    display: flex;
    flex-direction: row;
  }
  .photo {
    width: 100%;
    display: flex;
    margin-left: 10%;
    justify-content: center;
  }

  .photo img {
    width: 200px;
    height: 200px;
  }
  .overlay {
    font-size: 2rem;
    position: relative;
    width: 100%;
    display: flex;
    margin-right: 10%;
    justify-content: center;
  }
  .itemInfo {
    font-size: 1rem;
    justify-content: center;
    margin: 10px;
  }

  .itemInfo h3 {
    margin: 20px;
  }
}
