.loginContainer button {
  margin: 2rem 1rem;
  font-size: 0.5rem;
  padding: 5px;
}

.userInfo button {
  margin: 0 1rem;
  font-size: 0.5rem;
  padding: 5px;
}

.userInfo span {
  font-size: 0.5rem;
}
